@charset "utf-8";


#menu {
    position: fixed;
    width: 100%;
    height: 64px;
    background-color: rgba(255, 255, 255, 0.732);
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#menu > .logo {
    width: 10%;
    padding: 0 24px;

}
#menu > .logo > img {
    height: 24px;
}
#menu > div {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#menu > div > a {
   font-size: 16px;
}
#menu > div > button {
    border: none;
    cursor: pointer;
    background: #333;
    border-radius: 100px;
    padding: 7px 25px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.6px;
    color: #fff;
    text-align: center;
}


#main_top {
    height: 820px;
    background: linear-gradient(#f8faff 67.5%,#f0f4ff 0);
    padding: 64px 0 0;
}

.main_t_wr {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: url("../img/main_ch.png");
    background-position: 96% 5%;
    background-size: 765px;
    background-repeat: no-repeat;
    position: relative;
}

.main_t_text {
    margin-top: 88px;
    padding: 0 48px;
}

.main_t_text > h2 {
    font-size: 0;
    background-image: url("../img/main_text.png");
    color: transparent;
    background-repeat: no-repeat;
    height: 223px;
    background-size: 346px;
}

.main_t_text > h3{
    font-size: 0;  
    margin-top: 310px;
    color: transparent;
    text-indent: -9999px;
    background: url("../img/main_logo.png");
    background-size: 178px;
    background-repeat: no-repeat;
    height: 47px;
}


/*여기부터 main_m1*/

#main_m1 {
    padding: 80px 0;
    max-width: 100%;
    text-align: center;
}

.main_m1_text > h4 {
    font-weight: 700;
    font-size: 49px;
    line-height: 130%;
    letter-spacing: -.01em;
    color: #242424;
    margin-bottom: 24px;
}

.main_m1_text > p {
    font-size: 22px;
    line-height: 160%;
    letter-spacing: -.6px;
    color: #555;
}

.main_m1_slide {

}
.main_m1_slide > .slide {
    width: 100%;
    height: 420px;
    background-position: center;
    background-repeat: repeat-x;
}
.main_m1_slide > .slide1 {
    background-image: url("../img/slide1.png");
    margin: -40px 0 0;

    animation: slide1 100s linear infinite;
}

@keyframes slide1 {
    0% {
    background-position: -3000px;
    }
    100% {
    background-position: 0px;
    }
  }
.main_m1_slide > .slide2 {
    background-image: url("../img/slide2.png");
    margin: -180px 0 0;

    animation: slide2 100s linear infinite;
}

@keyframes slide2 {
    0% {
    background-position: 3000px;
    }
    100% {
    background-position: 0px;
    }
  }
.main_m1_slide > .slide3 {
    background-image: url("../img/slide3.png");
    margin: -180px 0 0;
    animation: slide1 100s linear infinite;
}




/*여기부터 main_m2*/
#main_m2 {
    padding: 80px 0;
    max-width: 100%;
    text-align: center;
}

.main_m2_text > h4 {
    font-weight: 700;
    font-size: 49px;
    line-height: 130%;
    letter-spacing: -.01em;
    color: #242424;
    margin-bottom: 24px;
}

.main_m2_text > p {
    font-size: 22px;
    line-height: 160%;
    letter-spacing: -.6px;
    color: #555;
}

.main_m2_s {
    width: 65%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    margin: 50px auto 0;
}

.main_m2_s > h5 {
    width: 100%;
    text-align: left;
    padding: 40px 0 ;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
}

.s_wr {
    width: 100%;
    height: 260px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.s_wr > div {
    width: 13%;
    height: 200px;
}
.s_wr > div > a > img {
    width: 95%;
    box-shadow: 0px 3px 7px #ddd;
}
.s_wr > div > h3 {
    text-align: left;
    padding: 7px 0 0;
}

.s_wr > div > h4 {
    text-align: left;
    padding: 2px 0 0;
    font-weight: 300;
}


/*여기부터 main_m3*/
#main_m3 {
    padding: 80px 0;
    max-width: 100%;
    text-align: center;
}


.main_m3_text > h4 {
    font-weight: 700;
    font-size: 49px;
    line-height: 130%;
    letter-spacing: -.01em;
    color: #242424;
    margin-bottom: 24px;
}

.main_m3_text > p {
    font-size: 22px;
    line-height: 160%;
    letter-spacing: -.6px;
    color: #555;
}

.m3_btn {
    width: 65%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    padding: 40px 0;
}

.m3_btn > button {
    margin-right: 10px;
    font-size: 14px;
    background: transparent;
    overflow: hidden;
    cursor: pointer;
    padding: 6px 16px;
    display: block;
    border: 1px solid #242424;
    color: #242424;
    border-radius: 100px;
}

.active {
    background: #242424 !important;
    color: #fff !important;
}

.main_m3_s {
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto ;
}



/*여기부터 main_m4*/
#main_m4 {
    padding: 80px 0;
    max-width: 100%;
    text-align: center;
    background-color: #f7f7f7;
    overflow: hidden;
    position: relative;
}

.main_m4_text > h4 {
    font-weight: 700;
    font-size: 49px;
    line-height: 130%;
    letter-spacing: -.01em;
    color: #242424;
    margin-bottom: 24px;
}

.main_m4_text > p {
    font-size: 22px;
    line-height: 160%;
    letter-spacing: -.6px;
    color: #555;
}

.main_m4_motion {
    margin: 0 auto;
}
.main_m4_motion > div:nth-of-type(1) {
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 49%;
    transform: translate(-50%, -50%);
}
.main_m4_motion > div:nth-of-type(1) > img {
    width: 60%;
    box-shadow: 0 0px 30px #ddd;

}
.main_m4_motion > div:nth-of-type(2) {
    transform: translateY(17%);
}

.main_m4_motion > div:nth-of-type(3) {
    position: absolute;
    top: 70%;
    left: 15%;
}
.main_m4_motion > div:nth-of-type(4) {
    position: absolute;
    top: 45%;
    left: 20%;
}
.main_m4_motion > div:nth-of-type(5) {
    position: absolute;
    top: 45%;
    right: 20%;
}
.main_m4_motion > div:nth-of-type(6) {
    position: absolute;
    top: 70%;
    right: 15%;
}




/*여기부터 main_m5*/
#main_m5 {
    padding: 80px 0;
    max-width: 100%;
    text-align: center;
    background-color: #ffeb60;
}

.main_m5_text > h4 {
    font-weight: 700;
    font-size: 49px;
    line-height: 130%;
    letter-spacing: -.01em;
    color: #242424;
    margin-bottom: 24px;
}

.main_m5_text > p {
    font-size: 22px;
    line-height: 160%;
    letter-spacing: -.6px;
    color: #555;
}

.main_m5_con {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 50px auto 0;
    width: 70%;
}

.m5b {
    width: 327px;
    height: auto;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 10px 10px 40px rgba(0,0,0,0.1);
}
.m5b > h5 {
    width: 100%;
    padding: 10%;
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #242424;
}
.m5b > p {
    width: 100%;
    padding: 0% 10%;
    text-align: left;
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    color: #242424;
}
.m5b > p > strong {
    font-weight: 900;
    font-size: 40px;
    line-height: 100%;
    color: #242424;
    margin-right: 2px;
}

.m5b > div {
    width: 100%;
    padding: 0% 10%;
    text-align: left;
}
.m5b > div > span {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #6f6f6f;
    margin: 0 8px 0 24px;
    text-decoration: line-through;
}
.m5b > div > img {
    width: 55px;
}

.m5b > p:nth-last-of-type(1) {
    margin: 20px 0;
    height: 50px;
    font-size: 14px;
    line-height: 20px;
    color: #6f6f6f;
}


.m5_box3 {
    width: 327px;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.m5_box3 > div {
    width: 100%;
    padding: 20px;
    display: flex;
    text-align: left;
}
.m5_box3 > div > img {
    width: 25%;
    margin-right: 20px;
}

.m5_box3 > div > p {
    margin: auto 0;
}


/*여기부터 main_m6*/
#main_m6 {
    padding: 80px 0;
    max-width: 100%;
    text-align: center;
    background-color: #f7f7f7;
    position: relative;
}

.m6_menu {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    position: absolute;
    top: 0;
    
}
.m6_menu > li {
    width: 25%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    padding: 40px 0;
}
.m6_menu > li > img {
    width: 30px;
    margin: 0 auto;
}
.m6_menu > li > p {
    width: 100%;
    margin-top: 5px;
}

.m6_s_wr {
    width: 100%;
    background-color: #f7f7f7;
    position: absolute;
    top: 135px;
}

.m6_s_wr > .m6_s {
    width: 85%;
    margin: 0 auto;
    display: flex;
}

.m6_s_wr > .m6_s > .m6_s_text {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
.m6_s_wr > .m6_s > .m6_s_text > img {
    height: 7%;
    margin: 40% 0 0;
}
.m6_s_wr > .m6_s >  .m6_s_text > h5 {
    width: 100%;
    font-weight: 700;
    font-size: 49px;
    line-height: 130%;
    letter-spacing: -.01em;
    color: #242424;
}
.m6_s_wr > .m6_s > .m6_s_text > p {
    width: 100%;
}
.m6_s_wr > .m6_s > .m6_s_text > div {
    width: 100%;
}


.m6_s_wr > .m6_s > .m6_s_slide {
    width: 45%;
    padding: 10% 2%;
}
.m6_s_wr > .m6_s > .m6_s_slide > img {
    width: 100%;
}