@charset "utf-8";


#main_top {
    width: 100%;
    height: 820px;
    background: linear-gradient(#f8faff 67.5%,#f0f4ff 0);
    position: relative;
}

.main_img {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: url("../img/main_ch.png");
    background-position: 96% 55%;
    background-size: 765px;
    background-repeat: no-repeat;
}