@charset "utf-8";

*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, NotoSansKR, Apple SD Gothic Neo, Malgun Gothic, sans-serif;
  font-size: 14px;
  color: #242424;
}
a{
    color: #333;
    text-decoration: none;
}
ul,li,ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

