@charset "utf-8";

#menu {
    position: fixed;
    width: 100%;
    height: 64px;
    background-color: rgba(255, 255, 255, 0.732);
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 101;
}

#menu > .logo {
    width: 10%;
    padding: 0 24px;

}
#menu > .logo > img {
    height: 24px;
}
#menu > div {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#menu > div > a {
   font-size: 16px;
}
#menu > div > button {
    border: none;
    cursor: pointer;
    background: #333;
    border-radius: 100px;
    padding: 7px 25px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.6px;
    color: #fff;
    text-align: center;
}




/*여기부터 sub_1*/
#sub_1 {
    width: 100%;
}

#sub_1 > .sub_1_top {
    width: 80%;
    margin: 0 auto;
    padding: 100px 20px 50px;
    border-bottom: 1px solid #ddd;
}
#sub_1 > .sub_1_top > div > h2 {
    padding: 20px 0;
}
#sub_1 > .sub_1_top > div > h2 > a {
    font-size: 35px;
    font-weight: 700;
}

#sub_1 > .sub_1_top > div > h4 {
    font-size: 15px;
    font-weight: 300;
    display: inline-block;
}




/*여기부터 sub_2*/
#sub_2 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 50px 0 50px;
    border-bottom: 1px solid #ddd;
}
.sub_2_img {
    width: 50%;
    text-align: center;
}
.sub_2_img > img {
    width: 70%;
    box-shadow: 5px 10px 10px #ddd;
}

.sub_2_text {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
}

.sub_2_text > h3 {
    width: 100%;
    color: mediumvioletred;
}

.sub_2_text > .left_text {
    width: 30%;
    font-weight: 500;
}
.sub_2_text > .right_text {
    width: 70%;
}
.sub_2_text > .s2_t {
    width: 100%;
    margin: 20px 0 0;
}
.sub_2_text > .s2_t1 {

}
.sub_2_text > .s2_t2 {

}
.sub_2_text > .s2_t3 > div {
    padding: 20px;
    margin: 5px 5px 0 0;
    float: left;
    border: 1px solid #e24457;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
}



/*여기부터 sub_3*/
#sub_3 {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-flow: row wrap;
}

#sub_3 > div:nth-of-type(1), #sub_3 > div:nth-of-type(2) {
    font-size: 1.5em;
    line-height: 30px;
}
#sub_3 > ul {
    width: 100%;
}
#sub_3 > ul > li {
    float: left;
    padding: 20px;
}

#sub_3 > div {
    width: 100%;
    padding: 20px;
}

/*여기부터 sub_4*/
#sub_4 {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0 20px;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}
#sub_4 > h4 {
    font-size: 1.5em;
}


/*여기부터 sub_5*/
#sub_5 {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0 20px;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

#sub_5 > div {
    font-size: 1.5em;
    line-height: 70px;
}

#sub_5 > img {
    width: 50%;
}



/*여기부터 sub_6*/
#sub_6 {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    height: 500px;
    overflow: hidden;
    position: relative;
}

#sub_6 > div {
    font-size: 1.5em;
    line-height: 70px;
}

#sub_6 > img {
    width: 60%;
}

.s6_btn_wr {
    margin: 0 auto;
    text-align: center;
    display: flex;

}
.s6_btn1 {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: aliceblue;
    box-shadow: 0px -20px 30px rgba(255, 255, 255, 0.9);
    border: 1px solid #eee;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.s6_btn2 {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: aliceblue;
    border: 1px solid #eee;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    display: none;
}

/*여기부터 sub_7*/
#sub_7 {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0 30px;
    border-bottom: 1px solid #ddd;
}

#sub_7 > div:nth-of-type(1) {
    font-size: 1.5em;
    line-height: 70px;
}
.sub_7_slide {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    position: relative;
}
.s7_left {
    width: 5%;
    position: absolute;
    top: 50%;
    left: 0;
    text-align: left;
    font-size: 2.5em;
    cursor: pointer;
    font-weight: 100;
}
.s7_right{
    width: 5%;
    position: absolute;
    top: 50%;
    right: 0;
    text-align: right;
    font-size: 2.5em;
    cursor: pointer;
    font-weight: 100;
}

.s7_wr {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.s7_wr > .box {
    width: 15%;
}

.s7_wr > .box > a > img {
    margin: 20px 0 0;
    width: 100%;
}

.s7_wr > .box > h3 {
    margin: 10px 0 0;
}




/*여기부터 footer*/
footer {
    width: 100%;
    height: 250px;
    background-color: #fff;
    display: flex;
    flex-flow: column wrap;
}

.f1 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.f1 > div > a {
    font-size: 16px;
    font-weight:500;
}
.f1 > div > img {
    width: 25px;
    cursor: pointer;
}

.f2 {
    width: 100%;
    padding: 20px;
}

.f2 > div {
    font-size: 11px;
    color: #555;
}

.f3 {
    width: 100%;
    padding: 0 20px;
}
.f3 > ul {
    display: flex;
}
.f3 > ul > li {
    font-size: 12px;
    color: #555;
    padding-right:10px;
}

.f4 {
    width: 100%;
    padding: 20px;
}

.f4 > p {
    font-size: 10px;
    color: #555;
}